/*Slider*/

.item:nth-child(4) {
    background: url( ../assets/img/04.jpg) center;
    background-size: cover
}

.prod-image-four {
    background: url( ../assets/img/04.jpg) center;
    background-size: cover;
    height: 655px;
    transition: all 6s;
    -webkit-transition: all 6s
}

.img-expand-four {
    background: url(../assets/img/04.jpg) center;
    background-size: cover;
    -webkit-transition: all 2s ease;
    transition: all 2s ease
}

.button {
    font-size: 1rem;
    letter-spacing: 3px;
    text-align: center;
}

.clients_block .button-or span{
    font-size: 18px !important;
}

.navbar-nav > li > a{
    font-size: 1rem;
    letter-spacing: 3px;
}

.about-padd{
    padding-top: 0;
}

.about-padd h1,
.about-padd h2,
.about-padd h3,
.about-padd h4,
.about-padd h5,
.about-padd h6 {
    font-weight: 500;
    text-transform: uppercase;
}

.feature-section h2,
.feature-section2 h2
{
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 0;
}
.feature-section, .feature-section2 {
    background: none;
    background-color: #f2f2f2;
}

.footer_block h6{
    margin-bottom: 0;
}

ul.opac-0{
    color: #fff;
}
ul.opac-0 li{
    margin: 10px 0;
}
