
.camera_loader { behavior:url(js/PIE.htc); position:absolute;}
.camera_wrap .camera_pag .camera_pag_ul li:first-child {
	margin-left: 4px;
}

.socials a:hover {
	filter: alpha(opacity=50);
}

