h1, h2 {
    font-weight: 600
}

h2, h3, h4, h5 {
    margin: 0 0 25px
}

h2, h4, h6 {
    color: #002056
}

.button, body {
    -moz-osx-font-smoothing: grayscale
}

.button, .button > span {
    vertical-align: middle
}

.button--text-upper, .language_bar .btn {
    text-transform: uppercase
}

body {
    font-family: Poppins, sans-serif;
    -webkit-font-smoothing: antialiased;
    padding-right: 0 !important;
    overflow-x: hidden
}

h1 {
    font-size: 55px;
    margin: 0 0 30px;
    color: #fff;
    line-height: 1.3
}

h2 {
    font-size: 38px
}

h5, p {
    font-weight: 400
}

h3 {
    font-size: 28px
}

h4 {
    font-size: 24px
}

h5 {
    font-size: 18px;
    color: #dcdddc;
    line-height: 1.7
}

h6, p {
    font-size: 14px
}

h6 {
    margin: 0 0 15px;
    opacity: .45
}

p {
    letter-spacing: .1px;
    color: #606060;
    line-height: 1.8
}

a:active, a:focus, a:hover {
    outline: 0;
    text-decoration: none
}

.no-padding {
    padding: 0
}

.pre-loader-anim div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: #353584;
    color: #353584;
    border-radius: 50%;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    margin: auto;
    animation: text 10s ease infinite
}

.pre-loader-anim div:after {
    position: absolute;
    content: "";
    top: -5%;
    left: -5%;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(.85);
    filter: blur(5vw);
    background: linear-gradient(270deg, #88c469, #7400f9);
    background-size: 150% 150%;
    border-radius: 50%;
    animation: glowmation 10s linear infinite
}

@keyframes glowmation {
    0% {
        top: -3%;
        left: -3%;
        background-position: 0 50%;
        background-size: 150% 150%
    }
    12.5% {
        top: -3%;
        left: 0;
        background-size: 70% 30%
    }
    25% {
        top: -3%;
        left: 3%;
        background-size: 100% 50%
    }
    37.5% {
        top: 0;
        left: 3%;
        background-size: 70% 30%
    }
    50% {
        top: 3%;
        left: 3%;
        background-position: 100% 50%;
        background-size: 30% 30%
    }
    62.5% {
        top: 3%;
        left: 0;
        background-size: 30% 70%
    }
    75% {
        top: 3%;
        left: -3%;
        background-size: 50% 100%
    }
    87.5% {
        top: 0;
        left: -3%;
        background-size: 30% 70%
    }
    100% {
        top: -3%;
        left: -3%;
        background-position: 0 50%;
        background-size: 150% 150%
    }
}

.la-anim-1, .la-anim-1::after {
    top: 0;
    background: linear-gradient(270deg, #88c469, #7400f9)
}

@keyframes text {
    0%, 100% {
        color: #7400f9
    }
    50% {
        color: #88c469
    }
}

.la-anim-1 {
    position: fixed;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 5px;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    pointer-events: none
}

.la-anim-1::after {
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    content: '';
    opacity: 0;
    -webkit-transition: opacity .2s, box-shadow 2s 4s;
    transition: opacity .2s, box-shadow 2s 4s;
    -webkit-transform: rotate(2deg) translateY(-2px);
    transform: rotate(2deg) translateY(-2px)
}

.la-anim-1.la-animate {
    z-index: 100;
    opacity: 1;
    -webkit-transition: -webkit-transform 5s ease-in, opacity 1s 5s;
    transition: transform 5s ease-in, opacity 1s 5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.la-anim-1.la-animate::after {
    opacity: 1
}

.pre-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    z-index: 99999;
    background: #353584;
    transition: all .6s;
    -webkit-transition: all .6s
}

.pre-out {
    height: 0%;
    transition: all 1s;
    -webkit-transition: all 1s
}

.pre-fade {
    opacity: 0;
    transition: all .6s;
    -webkit-transition: all .6s
}

.pre-loader-anim {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 50%;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 50%;
    z-index: 99
}

.button {
    float: left;
    min-width: 150px;
    max-width: 250px;
    display: block;
    padding: 1.6em 4.1em;
    margin-top: 20px;
    border: none;
    background: 0 0;
    color: inherit;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden
}

.get-intch .button {
    padding: 1em 2.5em;
    top: 18px;
    right: 0;
    margin-left: 30px
}

.device-xs {
    display: none
}

.form-submit button {
    float: none;
    display: inline
}

.go-button .form-butn {
    min-width: 65px;
    margin: 0
}

.button:focus {
    outline: 0
}

.bg-1 .button {
    color: #37474f;
    border-color: #37474f
}

.bg-2 .button {
    color: #ECEFF1;
    border-color: #ECEFF1
}

.bg-3 .button {
    color: #fff;
    border-color: #fff
}

.button--size-s {
    font-size: 12px
}

.button--size-m {
    font-size: 16px
}

.button--size-l {
    font-size: 18px
}

.button--text-thin {
    font-weight: 300
}

.button--text-medium {
    font-weight: 500
}

.button--text-thick {
    font-weight: 600
}

.button--round-s {
    border-radius: 5px
}

.button--round-m {
    border-radius: 15px
}

.button--round-l {
    border-radius: 40px
}

.button--border-thin {
    border: 1px solid
}

.button--border-medium {
    border: 2px solid
}

.button--border-thick {
    border: 3px solid
}

.button.button--aylen {
    background: #88c469;
    color: #fff;
    overflow: hidden;
    -webkit-transition: color .3s;
    transition: color .3s
}

.button--aylen.button--inverted {
    background: 0 0;
    color: #fff
}

.button--aylen::after, .button--aylen::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    -webkit-transition-timing-function: cubic-bezier(.75, 0, .125, 1);
    transition-timing-function: cubic-bezier(.75, 0, .125, 1);
    background: #7986cb
}

.button--aylen:hover {
    color: #fff
}

.button--aylen:hover::after, .button--aylen:hover::before {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0)
}

.button--aylen:hover::after {
    -webkit-transition-delay: 175ms;
    transition-delay: 175ms
}

.button--winona {
    overflow: hidden;
    padding: 0;
    -webkit-transition: border-color .3s, background-color .3s;
    transition: border-color .3s, background-color .3s;
    -webkit-transition-timing-function: cubic-bezier(.2, 1, .3, 1);
    transition-timing-function: cubic-bezier(.2, 1, .3, 1)
}

.button--winona::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    color: #88c469;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0)
}

.button--winona > span {
    display: block
}

.button--winona.button--inverted {
    color: #7986cb
}

.button--winona.button--inverted:after {
    color: #fff
}

.button--winona::after, .button--winona > span {
    padding: 1.4em 4.1em;
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s;
    -webkit-transition-timing-function: cubic-bezier(.2, 1, .3, 1);
    transition-timing-function: cubic-bezier(.2, 1, .3, 1)
}

.button--winona:hover {
    border-color: #88c469;
    background-color: rgba(212, 243, 255, .1)
}

.button--winona.button--inverted:hover {
    border-color: #21333C;
    background-color: #21333C
}

.flag, .glob {
    background: url(../img/flag.png);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute
}

.button--winona:hover::after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.button--winona:hover > span {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0)
}

.flag {
    left: 14px;
    top: 6px
}

.glob {
    color: #f9b719;
    top: 11px;
    left: -6px
}

.glob.one {
    background: url(../img/flag2.png)
}

.glob.two {
    background: url(../img/flag3.png)
}

li:nth-child(2) .flag {
    background: url(../img/flag2.png)
}

li:nth-child(3) .flag {
    background: url(../img/flag3.png)
}

.language_bar {
    float: left;
    width: 100px;
    position: absolute;
    right: 34px
}

.language_bar .dropdown {
    text-align: center
}

.language_bar .dropdown-menu {
    border-radius: 0;
    border: none;
    right: -2px;
    left: auto;
    top: 2px;
    padding: 0;
    margin: 0;
    min-width: 125px;
    overflow: visible !important
}

.language_bar .bootstrap-select {
    width: 100%;
    text-align: center
}

.btn-group.bootstrap-select.language-box {
    position: relative;
    z-index: 2
}

.language_bar .btn {
    width: 100%;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff !important;
    background: 0 0;
    border: none !important;
    box-shadow: none !important;
    opacity: 1
}

.language_bar .btn .filter-option {
    float: none !important
}

.language_bar .btn:active, .language_bar .btn:focus, .language_bar .btn:hover {
    color: #fff;
    background: 0 0 !important
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: transparent;
    border-color: #adadad
}

.language_bar .btn .caret {
    position: relative;
    width: 8px;
    height: 5px;
    border: none
}

.language_bar .btn .caret:after {
    position: absolute;
    left: 5px;
    top: -10px;
    content: "\f107";
    font-size: 16px;
    color: #353584;
    font-family: FontAwesome;
    font-weight: 600
}

.language_bar .dropdown-menu.inner {
    padding-top: 0;
    padding-bottom: 0
}

.language_bar .dropdown-menu li a i {
    display: none
}

.language_bar ul li.selected a i {
    display: inline;
    color: #42a852;
    right: -10px;
    position: relative
}

.language_bar .dropdown-menu li:hover {
    background: #eee;
    transition: all .6s;
    -webkit-transition: all .6s
}

.language_bar .dropdown-menu li {
    position: relative;
    text-align: center !important;
    padding: 0 0 0 10px;
    transition: all .6s;
    -webkit-transition: all .6s
}

.language_bar .dropdown-menu li a:focus, .language_bar .dropdown-menu li a:hover {
    background: 0 0;
    color: #fff
}

.language_bar button {
    width: 100%;
    padding: 14px 0;
    background: 0 0;
    border: none;
    font-size: 12px;
    display: inline-block
}

#language, .language_bar ul li a {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer
}

.con-modal a, .submenu:hover .dropdown-menu {
    display: block
}

.language_bar ul li a {
    color: #000 !important;
    padding: 8px 10px;
    margin: 0
}

.text {
    line-height: 15px
}

.lang {
    background: 0 0;
    text-align: right;
    position: absolute;
    right: 50px;
    top: 10px
}

.contact-padd, .email-pad-mod.modal-body, .get-in, .modal-content h2, .modal-title {
    text-align: center
}

#language {
    background: 0 0;
    border: none;
    color: #fff;
    margin-right: 15px
}

#nav-wrapper {
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    z-index: 999;
    position: fixed;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out
}

#nav-wrapper.menubgC {
    background-color: #353584;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out
}

#nav-wrapper .container {
    overflow: visible
}

.navbar {
    margin: 0;
    min-height: 50px;
    -webkit-border: 0;
    -moz-border: 0;
    -o-border: 0;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0
}

.navbar-brand {
    padding: 0;
    height: 50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.navbar-brand img {
    width: 100%;
    display: block;
    max-width: 150px
}

.navbar-header a {
    padding: 0;
    margin: 5px 0;
    color: #fff;
    font-size: 11px;
    line-height: 50px
}

.logo-text {
    color: #fff;
    font-size: 30px
}

.navbar-nav > li {
    padding: 0 10px;
    margin-left: 10px;
    position: relative
}

.navbar-nav > li:first-child {
    margin-left: 0
}

.nav > li > a:focus, .nav > li > a:hover, .navbar-nav > li.active a {
    color: #88c469;
    background-color: transparent
}

.navbar-nav > li > a {
    color: #fff;
    padding: 36px 0 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: .5px;
    text-transform: capitalize;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.navbar-toggle {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 30px;
    line-height: 50px
}

.drop-angle, .reach a {
    line-height: 2
}

ul .submenu ul.dropdown-menu:after {
    background-color: #8b8b8b;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    content: ''
}

.submenu .dropdown-menu, ul .submenu ul.dropdown-menu {
    background: #000 !important;
    box-shadow: none !important;
    padding: 10px 0 !important
}

ul .submenu ul.dropdown-menu {
    border-radius: 0 !important;
    border: none !important;
    left: 0 !important
}

.submenu .dropdown-menu {
    border-radius: 0 !important;
    border: none !important
}

.submenu .dropdown-menu li {
    padding: 0
}

.submenu .dropdown-menu a {
    padding: 8px 22px !important;
    font-family: Poppins, sans-serif !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    letter-spacing: inherit !important;
    color: #fff !important
}

.about-wrap h6, .app-small h6, .feature-section h6, .feature-section2 h6, .industry-text h6, .prod-small h6, .product-text-wrap h6, .work-section h6 {
    letter-spacing: 5px;
    text-transform: uppercase
}

.submenu .dropdown-menu a:hover, .submenu .dropdown-menu li.active a {
    color: #8b8b8b !important
}

.get-in, .submenu ul li a:hover {
    color: #fff
}

.submenu ul li a:hover:before {
    height: 100%
}

.submenu:hover ul {
    top: 100%;
    opacity: 1;
    overflow: visible
}

.close, .modal-backdrop {
    top: 0;
    position: absolute
}

.get-in {
    background: linear-gradient(-190deg, #88c469, #7400f9);
    padding: 12px;
    margin-top: 38px;
    border-radius: 50px;
    width: 160px;
    float: right;
    position: relative;
    margin-left: 20px;
    font-weight: 500;
    transition: all .6s;
    -webkit-transition: all .6s
}

.close, .get-in:hover {
    transition: all .6s;
    color: #fff
}

.get-in:hover {
    -webkit-transition: all .6s
}

.modal-backdrop {
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    opacity: 1 !important
}

.close {
    font-size: 52px;
    font-weight: 100;
    width: 142px;
    opacity: 1;
    padding: 45px !important;
    right: 0;
    -webkit-transition: all .6s
}

.close:focus, .close:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
    transition: all .6s;
    -webkit-transition: all .6s
}

.modal-header .close {
    font-size: 28px !important;
    position: absolute;
    right: -65px
}

.modal-dialog {
    top: 50%;
    width: 510px;
    transform: translateY(-50%) !important;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    -o-transform: translateY(-50%) !important;
    -moz-transform: translateY(-50%) !important
}

.modal_share .facebook, .modal_share .insta, .modal_share .twitter {
    margin-right: 25px;
    font-size: 16px
}

.modal_share .youtube {
    font-size: 16px
}

.modal_share {
    padding: 15px 65px
}

.social-zero {
    padding: 0
}

.menu-padd {
    padding: 0 80px
}

.modal-body .form-group {
    margin: 0 0 20px 35px
}

.modal-body .form-control {
    color: #000
}

.modal-body {
    position: relative;
    padding: 10px 35px 30px
}

.drop-angle, .overlay-text, .text-wrap, .wraper-baner {
    position: absolute
}

.modal-content h2 {
    font-weight: 600;
    padding-top: 50px
}

.modal-content {
    border-radius: 0;
    background: #f9f9f9
}

.contact-padd {
    border-bottom: 1px solid #eee
}

.con-modal a {
    font-size: 22px;
    color: #353584;
    margin-bottom: 15px
}

.button-center, .text-wrap {
    margin: auto;
    text-align: center
}

.form-butn {
    background: #fff;
    border-radius: 50px;
    padding: 15px 50px;
    font-weight: 500
}

.modal-body .form-control {
    height: 50px;
    border-radius: 0;
    padding: 0 30px;
    background: #e6e6e6;
    opacity: .65;
    border: none;
    width: 400px !important
}

.modal-body .form-control::-moz-placeholder {
    color: #000;
    opacity: 1;
    font-weight: 400
}

.modal-body .form-control::-webkit-placeholder {
    color: #000;
    opacity: 1;
    font-weight: 400
}

#dropdown {
    width: 93%;
    height: 50px;
    background: #e6e6e6;
    border: none;
    padding: 0 25px
}

.drop-angle {
    right: 60px;
    font-size: 25px
}

select {
    -moz-appearance: none;
    -webkit-appearance: none
}

select::-ms-expand {
    display: none
}

.carousel-fade .carousel-inner .ind, .carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity
}

.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right, .carousel-fade .carousel-inner .ind, .carousel-fade .carousel-inner .item {
    opacity: 0
}

.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
    opacity: 1
}

.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right, .carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.carousel-control.right, .text-wrap {
    transform: translatey(-50%)
}

.carousel-fade .carousel-control {
    z-index: 2
}

.carousel, .carousel-inner, .carousel-inner .ind, .carousel-inner .item, body, html {
    height: 100%
}

.item:nth-child(1) {
    background: url(../img/01.jpg) center;
    background-size: cover
}

.item:nth-child(2) {
    background: url(../img/02.jpg) center;
    background-size: cover
}

.item:nth-child(3) {
    background: url(../img/03.jpg) center;
    background-size: cover
}


.ind:nth-child(1) {
    background: url(../img/01.jpg) center;
    background-size: cover;
    height: 112%
}

.ind:nth-child(2) {
    background: url(../img/02.jpg) center;
    background-size: cover;
    height: 112%
}

.ind:nth-child(3) {
     background: url(../img/03.jpg) center;
     background-size: cover;
     height: 112%
 }

.ind:nth-child(3) {
    background: url(../img/04.jpg) center;
    background-size: cover;
    height: 112%
}

.overlay-text {
    background: #000;
    height: 160px;
    bottom: 45px;
    width: 100%;
    opacity: .7
}

.text-wrap {
    top: 50%;
    width: 65%;
    left: 0;
    right: 0
}

.wraper-baner {
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
    width: 100%
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    font-size: 38px;
    height: 150px;
    top: 50%
}

.text-wrap button {
    float: none;
    display: inline;
    color: #fff
}

.arrow-hover:hover .next-arrow, .arrow-hover:hover .prev-arrow {
    transform: scale(1.3);
    -webkit-transition: all .3s cubic-bezier(.175, .885, .4, 1.4);
    transition: all .3s cubic-bezier(.175, .885, .4, 1.4)
}

.industry-img {
    padding: 70px 0
}

.carousel-control.left {
    left: -65px;
    transform: translatey(-50%)
}

.next-arrow, .prev-arrow {
    background: #fff;
    width: 50px;
    height: 1px;
    position: absolute;
    top: 55%
}

.prev-arrow {
    left: 60px;
    -webkit-transition: all .3s cubic-bezier(.175, .885, .4, 1.4);
    transition: all .3s cubic-bezier(.175, .885, .4, 1.4)
}

.next-arrow, .part-box {
    -webkit-transition: all .3s cubic-bezier(.175, .885, .4, 1.4)
}

.next-arrow {
    right: 60px;
    transition: all .3s cubic-bezier(.175, .885, .4, 1.4)
}

.angle-left, .angle-right {
    width: 0;
    height: 0;
    border-style: solid;
    top: -5px;
    z-index: 2;
    position: absolute
}

.angle-left {
    border-width: 6px 11px 6px 0;
    border-color: transparent #fff transparent transparent;
    left: -10px
}

.angle-right {
    border-width: 6px 0 6px 11px;
    border-color: transparent transparent transparent #fff;
    right: -10px
}

.testimonial-arrow {
    height: 50px;
    width: 90px;
    position: absolute;
    top: 50%
}

.button-center {
    position: relative;
    left: 0;
    right: 0;
    width: 200px
}

.certificado-banner {
    background: url(../img/serv01.jpg) center fixed;
    height: 430px;
    position: relative;
    background-size: cover
}

.hardware-banner {
    background: url(../img/serv02.jpg) center fixed;
    height: 430px;
    position: relative;
    background-size: cover
}

.software-banner {
    background: url(../img/serv03.jpg) center fixed;
    height: 430px;
    position: relative;
    background-size: cover
}

.certificado-banner h1, .hardware-banner h1, .software-banner h1 {
    position: relative;
    width: 600px;
    margin: auto;
    top: 58%;
    text-align: center;
    color: #fff;
    z-index: 1;
    transform: translatey(-50%)
}

.about-image {
    background: url(../img/about.jpg) center;
    background-size: cover;
    height: 400px;
    margin-bottom: 70px;
    position: relative
}

.about-overlay {
    position: absolute;
    background: #000;
    top: 0;
    height: 400px;
    width: 100%;
    opacity: 0
}

.blog-date.news-pad {
    padding-top: 30px
}

.about-mar {
    margin-top: 25px;
    margin-right: 25px;
    color: #353584
}

.about-wrap h6 {
    margin-bottom: 43px
}

.about-padd {
    padding: 43px 0 100px
}

.about-farm p {
    text-align: left;
    margin: 0 0 15px
}

.prod-image-one {
    background: url(../img/serv01.jpg) center;
    background-size: cover;
    height: 655px;
    transition: all 6s;
    -webkit-transition: all 6s
}

.img-expand, .img-expand-two {
    z-index: 1;
    -webkit-transition: all 2s ease
}

.img-expand {
    background: url(../img/serv01.jpg) center;
    background-size: cover;
    height: 100%;
    width: 1920px;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 2s ease
}

.img-expand-three, .img-expand-two {
    height: 100%;
    width: 2380px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: -230%
}

.img-expand-two {
    background: url(../img/serv02.jpg) center;
    background-size: cover;
    transition: all 2s ease
}

.img-expand-three {
    background: url(../img/serv03.jpg) center;
    background-size: cover;
    z-index: 1;
    -webkit-transition: all 2s ease;
    transition: all 2s ease
}

.img-expand-five, .img-expand-four {
    height: 100%;
    width: 2380px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: -300%;
    z-index: 1
}

.img-expand-four {
    background: url(../img/prod4.jpg) center;
    background-size: cover;
    -webkit-transition: all 2s ease;
    transition: all 2s ease
}

.img-expand-five {
    background: url(../img/prod5.jpg) center;
    background-size: cover;
    -webkit-transition: all 2s ease;
    transition: all 2s ease
}

.prod-image-two {
    background: url(../img/serv02.jpg) center;
    background-size: cover;
    height: 655px;
    transition: all 6s;
    -webkit-transition: all 6s
}

.prod-image-three {
    background: url(../img/serv03.jpg) center;
    background-size: cover;
    height: 655px;
    transition: all 6s;
    -webkit-transition: all 6s
}

.prod-image-four {
    background: url(../img/prod4.jpg) center;
    background-size: cover;
    height: 655px;
    transition: all 6s;
    -webkit-transition: all 6s
}

.prod-image-five {
    background: url(../img/prod5.jpg) center;
    background-size: cover;
    height: 655px;
    transition: all 6s;
    -webkit-transition: all 6s
}

.overlay-prod, .product-text-wrap {
    top: 0;
    height: 100%;
    position: absolute
}

.overlay-prod {
    background: #000;
    width: 100%;
    z-index: 2;
    opacity: .6;
    transition: all 6s;
    -webkit-transition: all 6s
}

.product-text-wrap {
    z-index: 4;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    padding: 100px 110px
}

.product-text-wrap h6 {
    color: #fff
}

.product-text-wrap:hover .opac-0 {
    opacity: 1;
    transition: all .6s;
    -webkit-transition: all .6s
}

.product-text-wrap p {
    color: #fff !important
}

.clients_block {
    overflow: hidden
}

.farm-product:hover .button-or, .farm-product:hover .product-text-wrap h2, .farm-product:hover .product-text-wrap h6 {
    color: #555;
    -webkit-transition: all 2s ease;
    transition: all 2s ease
}

.hover:hover .button-or, .hover:hover .product-text-wrap h2, .hover:hover .product-text-wrap h6 {
    color: #fff !important;
    -webkit-transition: all 2s ease;
    transition: all 2s ease
}

.clients_block:hover .img-expand {
    opacity: 1;
    -webkit-transition: all 2s ease;
    transition: all 2s ease
}

.img-expand-overlay, .img-expand-overlay-five, .img-expand-overlay-four, .img-expand-overlay-three, .img-expand-overlay-two {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #000;
    width: 0;
    height: 100%;
    z-index: 2;
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.clients_block:hover .img-expand-overlay {
    opacity: .6;
    width: 600%;
    -webkit-transition: all 2s ease;
    transition: all 2s ease
}

.clients_block:hover .img-expand-overlay-two {
    opacity: .6;
    width: 600%;
    left: -100%;
    -webkit-transition: all 2s ease;
    transition: all 2s ease
}

.clients_block:hover .img-expand-overlay-three {
    opacity: .6;
    width: 600%;
    left: -200%;
    -webkit-transition: all 2s ease;
    transition: all 2s ease
}

.clients_block:hover .img-expand-overlay-five, .clients_block:hover .img-expand-overlay-four {
    opacity: .6;
    width: 600%;
    left: -300%;
    -webkit-transition: all 2s ease;
    transition: all 2s ease
}

.clients_block:hover .img-expand-five, .clients_block:hover .img-expand-four, .clients_block:hover .img-expand-three, .clients_block:hover .img-expand-two {
    opacity: 1;
    -webkit-transition: all 2s ease;
    transition: all 2s ease
}

.clients_block:hover .prod-image-four, .clients_block:hover .prod-image-one, .clients_block:hover .prod-image-three, .clients_block:hover .prod-image-two {
    transform: scale(1.2);
    transition: all 6s;
    -webkit-transition: all 6s
}

.product-text-wrap h2 {
    margin: 0 0 25px;
    font-size: 36px;
    color: #fff;
    -webkit-transition: all 2s ease;
    transition: all 2s ease
}

.app-small h6 {
    color: #fff
}

.feature-section h2, .feature-section2 h2, .part-box h4 {
    color: #002056
}

.industry-text {
    padding-top: 50px;
    padding-right: 80px
}

.industry-text .button-or {
    margin-top: 35px
}

.farm-industry {
    background: #f5f5f5;
    padding: 100px 0
}

.play-button {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    background: #fff;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: 0 auto;
    left: 25px;
    right: 0;
    text-align: center;
    cursor: pointer
}

.off {
    display: none
}

.play-button span {
    line-height: 5;
    font-size: 18px
}

#video {
    width: 100%
}

.slider-wrap {
    width: 400px;
    margin: auto;
    height: 630px;
    transform: rotate3d(-40, -40, 20, -40deg);
    box-shadow: -35px 35px 35px -35px
}

.feature-section {
    padding: 100px 0;
    background: url(../img/fondo1.png) center top #f2f2ff;
    background-size: cover
}

.feature-section2 {
    padding: 100px 0;
    background: url(../img/fondo2.png) center top #f2f2ff;
    background-size: cover
}

.feature-section h6, .feature-section2 h6 {
    color: #002056;
    opacity: .45
}

.part-box h4 {
    font-weight: 600
}

.feature-icon {
    font-size: 42px;
    font-weight: 100;
    color: #353584;
    margin-bottom: 20px
}

.top-feature {
    margin-top: 60px
}

.part-box {
    background: #fff;
    padding: 45px;
    transition: all .3s cubic-bezier(.175, .885, .4, 1.4)
}

.part-box:hover {
    transform: scale(1.03);
    -webkit-transition: all .3s cubic-bezier(.175, .885, .4, 1.4);
    transition: all .3s cubic-bezier(.175, .885, .4, 1.4)
}

.padding-feature {
    width: 700px;
    color: #606060;
    margin: auto
}

.client-band {
    background: #000;
    height: auto;
    overflow: hidden
}

.work-section {
    padding-top: 100px
}

.work-section .grid-item {
    border: none;
    cursor: pointer;
    overflow: hidden
}

#clients-2, .team {
    cursor: move
}

.work-section .grid-item a span {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
    display: none;
    color: #002056
}

.prot-withname .work-section .grid-item a span {
    position: absolute;
    top: 90% !important;
    display: block;
    left: 30px;
    text-align: left;
    z-index: 2;
    color: #000
}

.work-section .grid-item a span b {
    display: block;
    font-size: 18px;
    font-weight: 600
}

.work-section .grid-item div {
    position: relative
}

.work-section .col-md-4 .grid-item div:before, .work-section .col-md-6 .grid-item div:before, .work-section .grid-item a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #fed6e3, #a8edea);
    opacity: 0;
    content: "";
    z-index: 1
}

.prot-withname .work-section .col-md-4 .grid-item div:before, .prot-withname .work-section .col-md-6 .grid-item div:before, .prot-withname .work-section .grid-item a:before {
    height: 86.6%
}

.work-section .item-content {
    -webkit-transition: all .8s cubic-bezier(.175, 1.885, .4, 1.6);
    transition: all .8s cubic-bezier(.175, 1.885, .4, 1.6)
}

.work-section .grid-item a:hover .item-content {
    transform: scale(1.03);
    -webkit-transition: all .8s cubic-bezier(.175, 1.885, .4, 1.6);
    transition: all .8s cubic-bezier(.175, 1.885, .4, 1.6)
}

.work-section .grid-item a:before, .work-section .grid-item a:hover:before {
    -webkit-transition: all .8s cubic-bezier(.175, 1.885, .4, 1.6);
    transition: all .8s cubic-bezier(.175, 1.885, .4, 1.6)
}

.work-section .grid-item a:hover:before {
    opacity: .7
}

.work-section .grid-item a:hover span {
    display: block
}

.work-section .portfolio-categories {
    text-align: center;
    padding-left: 0;
    margin-bottom: 58px
}

.work-section .portfolio-categories li {
    display: inline-block;
    margin: 0 17px
}

.work-section .portfolio-categories li a {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    letter-spacing: 2px;
    font-weight: 400;
    -webkit-transition: all .6s;
    transition: all .6s
}

#clients-2 h2, .semibold {
    font-weight: 600
}

.work-section .portfolio-categories li a.active, .work-section .portfolio-categories li a:focus, .work-section .portfolio-categories li a:hover {
    color: #353584;
    -webkit-transition: all .6s;
    transition: all .6s
}

.work-masonry {
    position: relative
}

.work-masonry ul {
    list-style: none;
    padding-left: 0
}

.item-content {
    background-color: #eee;
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    display: table;
    height: 100%;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    transform: scale(1.01);
    transition: all 2s cubic-bezier(.23, 1, .32, 1) 0s;
    width: 100%
}

.pp_details, .pp_fade {
    width: 100% !important
}

.prot-withname .item-content {
    height: 85%
}

.prot-withname .portfolio-wrap .grid-item:first-child {
    opacity: 1 !important;
    margin: 10px !important
}

.pp_pic_holder.pp_default {
    max-width: 100% !important;
    left: 0 !important;
    overflow: hidden;
    margin: 0 auto
}

div.pp_default .pp_content_container .pp_left {
    padding-left: 0 !important
}

div.pp_default .pp_content_container .pp_right {
    padding-right: 0 !important
}

.pp_content {
    max-width: 100% !important;
    height: auto !important
}

.pp_fade {
    height: 100% !important
}

.pp_bottom, .pp_gallery, .pp_hoverContainer, .pp_top, a.pp_contract, a.pp_expand {
    display: none !important
}

#pp_full_res img {
    max-width: 100% !important;
    height: auto !important
}

.pp_details {
    margin-top: -2px !important;
    padding: 10px 4% 10px 3%
}

a.pp_close {
    right: 2% !important;
    top: 10px !important
}

.owl-next, .testimonial-right {
    right: 0
}

.pp_content_container .pp_left, .pp_content_container .pp_right {
    padding: 0
}

.pp_nav, div.pp_default .pp_nav {
    width: 100%;
    text-align: right;
    margin-right: 0;
    display: block !important
}

div.light_square .pp_arrow_next, div.light_square .pp_arrow_previous, div.pp_default a.pp_arrow_next, div.pp_default a.pp_arrow_previous {
    background: 0 0;
    text-indent: 0;
    height: 40px;
    width: 40px;
    display: inline-block;
    border: 1px solid #000;
    text-align: center;
    line-height: 38px;
    color: #000;
    border-radius: 100%;
    float: none;
    margin-left: 24px;
    text-decoration: none
}

.pp_details {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0
}

#clients-2 {
    width: 100%;
    float: left;
    padding: 20px;
    background: #353584
}

#clients-2 h2 {
    color: #ff4632;
    font-family: Poppins, sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase
}

#clients-2 .clients_block {
    float: left;
    width: 25%;
    min-height: 160px;
    text-align: center
}

#clients-2 .clients_block img {
    width: auto;
    display: inline-block
}

#clients-2 .clients2 .clients_block {
    float: none;
    width: 100%
}

.client-band .owl-nav {
    display: none
}

.testimonial-bg {
    background: url(../img/testimonial.jpg) center fixed;
    background-size: cover;
    position: relative
}

.testimonial-overlay {
    background: linear-gradient(-45deg, #fed6e3, #a8edea);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: .85
}

.index {
    z-index: 1;
    position: relative
}

#clients-2 .clients2 .owl-controls {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%
}

.owl-next, .owl-prev {
    position: absolute;
    font-size: 35px;
    top: 35%;
    color: #353584;
    opacity: 0
}

#clients-2 .clients2 .owl-theme .owl-controls div div {
    margin-top: 0
}

.client-sp h6 {
    text-transform: uppercase;
    letter-spacing: 5px
}

.client-sp {
    padding: 100px 0
}

.testimonail1 h4 {
    letter-spacing: 0
}

.testimonials .owl-next {
    transform: rotate(-90deg)
}

.testimonials .owl-prev {
    transform: rotate(90deg)
}

.testimonial-left {
    left: 3%
}

.content-padding {
    padding: 0 120px 50px;
    letter-spacing: .1px;
    color: #606060;
    line-height: 1.8
}

.testimonail1 h4 {
    margin: 0;
    line-height: 1.5;
    text-transform: capitalize;
    font-size: 16px;
    color: #353584
}

.blog-bg h6, .team-name span, .team-sec h6 {
    text-transform: uppercase
}

.testimonail1 h4:last-child {
    color: #002056
}

.regular-weight {
    font-weight: 400
}

#team {
    margin-top: 60px
}

.team-sec p {
    width: 700px;
    margin: auto
}

.team-sec {
    padding: 100px 0;
    background: #f8f8f8
}

.team-sec h6 {
    letter-spacing: 5px
}

.team-name {
    background: #fff;
    padding: 30px
}

.team-name h5 {
    font-size: 18px;
    margin: 0 0 8px;
    color: #353584;
    font-weight: 500
}

.team-name span {
    color: #000;
    font-size: 14px;
    letter-spacing: 3px
}

.blog-wraper {
    background: #f3f3f3
}

.blog-box {
    background: #fff;
    padding: 50px 40px
}

.blog-hover {
    -webkit-transition: all .8s cubic-bezier(.175, 1.885, .4, 1.6);
    transition: all .8s cubic-bezier(.175, 1.885, .4, 1.6)
}

.blog-hover:hover {
    transform: scale(1.03);
    -webkit-transition: all .8s cubic-bezier(.175, 1.885, .4, 1.6);
    transition: all .8s cubic-bezier(.175, 1.885, .4, 1.6)
}

.blog-box h5 {
    color: #000;
    margin-bottom: 15px;
    line-height: 1.3;
    font-weight: 600
}

.blog-box .highlights_txt {
    padding: 12px 0
}

.image-circle {
    background: url(../img/icono_ssl.png) center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-size: cover;
    left: 0;
    right: 0;
    margin: 0 auto
}

.image-circle-one, .image-circle-two {
    background: url(../img/icono_ssl.png) center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 25px;
    background-size: cover
}

.blog-box p {
    margin-bottom: 15px
}

.read-more {
    color: #353584;
    font-size: 16px;
    font-weight: 600;
    transition: all .6s;
    -webkit-transition: all .6s
}

.read-more:hover {
    color: #88c469;
    text-decoration: none;
    transition: all .6s;
    -webkit-transition: all .6s
}

.blog-bg {
    padding: 100px 0 60px
}

.float-left {
    float: left;
    margin-right: 30px
}

.mar-bottom {
    margin-bottom: 35px
}

.pad-bottom {
    padding-bottom: 75px
}

.blog-bg h6 {
    letter-spacing: 5px
}

.mar-bar {
    left: 20px
}

.layer-up {
    position: relative;
    z-index: 1;
    margin-bottom: 40px
}

.partnership h1 {
    font-size: 38px;
    color: #000;
    margin-bottom: 100px
}

.partnership h2 {
    font-size: 22px;
    color: #000;
    font-weight: 600
}

.partnership .highlights_txt {
    padding: 60px 70px 145px
}

.down-arrow {
    position: absolute;
    right: 5px;
    font-weight: 100;
    font-size: 8px;
    top: 5px;
    color: #353584
}

.sec-sep {
    margin-top: 80px
}

.partnership {
    padding: 100px 0
}

.newslatter {
    background: linear-gradient(-45deg, #fed6e3, #a8edea);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 70px 100px
}

.image-wrapeer {
    float: left
}

.quote {
    width: 5%;
    margin: 12px auto 40px
}

.text-wrapeer {
    padding: 55px 0;
    float: right
}

.news-n h2 {
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1.8
}

.form-group {
    margin: 0
}

.form-control {
    height: 65px;
    border-radius: 50px;
    padding: 0 39px;
    background: #fff;
    color: #000;
    opacity: .65;
    border: none;
    width: 400px !important
}

.form-control::-moz-placeholder {
    color: #000;
    opacity: 1;
    font-weight: 400
}

.form-control::-webkit-placeholder {
    color: #000;
    opacity: 1;
    font-weight: 400
}

#answer1 p, .con-fix {
    color: #fff
}

.input-group-btn {
    background: #f9b719;
    width: 80px;
    border-radius: 50px;
    height: 70px;
    position: relative;
    left: -45px;
    z-index: 11;
    top: -2px
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
    outline: 0;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px
}

.go-button .form-butn {
    border-radius: 50%;
    padding: 0;
    width: 65px;
    height: 65px;
    position: absolute;
    top: -65px;
    right: 70px
}

.news-n .btn-default {
    background-color: transparent !important;
    border: none;
    font-size: 16px;
    font-weight: 500;
    padding: 30px
}

#products-section .owl-prev {
    transform: rotate(45deg);
    top: 46%;
    left: 25px;
    opacity: 0;
    transition: all .6s;
    -webkit-transition: all .6s
}

.clients3, .owl-next, .owl-prev {
    transition: all .6s;
    -webkit-transition: all .6s
}

.clients3:hover .owl-prev {
    opacity: 1 !important;
    transition: all .6s;
    -webkit-transition: all .6s
}

#products-section .owl-next {
    transform: rotate(-135deg);
    top: 46%;
    right: 25px;
    opacity: 0
}

.clients3:hover .owl-next {
    opacity: 1 !important;
    transition: all .6s;
    -webkit-transition: all .6s
}

.farm-product .button-or {
    position: absolute;
    bottom: 105px;
    font-size: 18px;
    -webkit-transition: all .3s cubic-bezier(.175, .885, .4, 1.4);
    transition: all .3s cubic-bezier(.175, .885, .4, 1.4)
}

.product-button span {
    width: 60px;
    height: 60px;
    line-height: .9;
    color: #fff;
    min-width: 60px
}

.header-get a {
    padding: 0 0 0 10px !important;
    line-height: 18px !important
}

.product-button .button--winona::after, .product-button .button--winona > span {
    padding: 1em
}

.opac-0 {
    opacity: 0;
    transition: all .6s;
    -webkit-transition: all .6s
}

.con-fix {
    position: fixed;
    background: #88c469;
    font-weight: 500;
    right: -40px;
    top: 185px;
    border-radius: 50px;
    padding: 10px 51px 10px 20px;
    transform: translatey(-50%);
    box-shadow: 0 0 5px 2px #0606061A;
    transition: all .6s;
    -webkit-transition: all .6s
}

.float-button {
    z-index: 1;
    position: relative;
    font-size: 20px
}

.info-fix, .share-fix {
    position: fixed;
    background: #88c469;
    color: #fff;
    font-weight: 500;
    right: -40px;
    border-radius: 50px;
    padding: 10px 55px 10px 20px;
    box-shadow: 0 0 5px 2px #0606061A;
    transition: all .6s;
    transform: translatey(-50%)
}

.share-fix {
    top: 245px;
    -webkit-transition: all .6s
}

.info-fix {
    top: 305px;
    -webkit-transition: all .6s
}

.con-fix:hover, .info-fix:hover, .share-fix:hover {
    background: #353584;
    transition: all .6s;
    -webkit-transition: all .6s
}

.footer-bg {
    background: #000c21;
    padding: 30px 0
}

.copy-bg {
    background: #000c21;
    border-top: 1px solid;
    padding: 5px 0
}

.footer_block a {
    display: block;
    color: #bcbcbc;
    font-size: 14px;
    font-weight: 400
}

.bg-ind-content a, .layer-about .about-footer {
    display: inline-block
}

.footer_block p {
    color: #bcbcbc
}

.footer_block h6 {
    color: #fff;
    margin: 0 0 20px;
    opacity: 1
}

.facebook, .insta, .twitter, .youtube {
    background: #fff;
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 17px;
    color: #000;
    transition: all .6s;
    float: left;
    text-align: center;
    border-radius: 50px
}

.facebook, .insta, .twitter {
    margin-right: 10px;
    -webkit-transition: all .6s
}

.youtube {
    -webkit-transition: all .6s
}

.social-icons a:active .facebook, .social-icons a:active .insta, .social-icons a:active .twitter, .social-icons a:active .youtube, .social-icons a:focus .facebook, .social-icons a:focus .insta, .social-icons a:focus .twitter, .social-icons a:focus .youtube, .social-icons a:hover .facebook, .social-icons a:hover .insta, .social-icons a:hover .twitter, .social-icons a:hover .youtube {
    background: #88c469;
    color: #fff;
    transition: all .6s;
    -webkit-transition: all .6s
}

.social-icons {
    margin-bottom: 6px;
    height: 55px
}

.tagsbar a {
    margin-bottom: 15px;
    color: #bcbcbc !important;
    transition: all .6s;
    -webkit-transition: all .6s
}

.tagsbar a:last-child {
    margin-bottom: 0
}

.tagsbar a:hover {
    color: #88c469 !important;
    transition: all .6s;
    -webkit-transition: all .6s
}

.mails a {
    margin-bottom: 35px;
    transition: all .6s;
    -webkit-transition: all .6s
}

.mails a:last-child {
    margin-bottom: 0
}

.mails a:hover {
    color: #88c469 !important;
    transition: all .6s;
    -webkit-transition: all .6s
}

.reach p {
    padding: 0 45px 20px 0
}

.copy-text {
    float: left
}

.policy {
    float: right
}

.copy-text p, .policy p {
    color: #bcbcbc;
    transition: all .6s;
    -webkit-transition: all .6s
}

.copy-text p:hover, .policy p:hover {
    color: #353584 !important;
    transition: all .6s;
    -webkit-transition: all .6s
}

.aboutpage-banner {
    background: url(../img/about-banner.jpg) center fixed;
    height: 680px;
    position: relative;
    background-size: cover
}

.aboutpage-banner h1 {
    position: relative;
    width: 600px;
    margin: auto;
    top: 50%;
    transform: translatey(-50%);
    text-align: center;
    color: #fff;
    z-index: 1
}

.overlay-aboutpage, .overlay-casestudy {
    background: #000;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%
}

.overlay-aboutpage {
    opacity: .35
}

.overlay-casestudy {
    opacity: .6
}

.digi-class {
    background: #f9f9f9;
    height: 285px;
    position: relative
}

.digi-con, .ind-details-con {
    position: absolute;
    top: -115px;
    background: #f9f9f9;
    left: 0;
    right: 0
}

.farm-gyan {
    height: 180px
}

.farm-lite {
    height: 150px
}

.farm-village {
    height: 190px
}

.contract-farming {
    height: 255px
}

.research-development {
    height: 225px
}

.farm-government {
    height: 195px
}

.about-digital {
    height: 200px
}

.aboutpage h2 {
    text-align: center
}

.digi-con {
    padding: 65px 0
}

.digi-con p {
    margin-top: 32px
}

.ind-details-con {
    padding: 70px
}

.soft-bg {
    background: url(../img/abt2.jpg);
    height: 622px;
    background-size: cover
}

.soft-bg-1 {
    background: url(../img/abt1.jpg);
    height: 622px;
    background-size: cover
}

.col-float {
    margin: auto;
    float: none;
    text-align: center
}

.text-left {
    text-align: left !important
}

.aboutpage .content-soft {
    padding: 170px 110px 170px 50px
}

.aboutpage .content-soft-right {
    padding: 170px 110px 170px 70px
}

.content-soft-0 {
    padding: 162px 135px
}

.content-soft-1 {
    padding: 105px 135px
}

.content-soft-2 {
    padding: 112px 135px
}

.content-soft-3 {
    padding: 110px 135px
}

.team p {
    width: 800px;
    margin: auto auto 60px
}

.team-img-0 {
    background: url(../img/team1.jpg) center;
    height: 320px;
    background-size: cover
}

.team-img-1 {
    background: url(../img/team2.jpg) center;
    height: 320px;
    background-size: cover
}

.team-img-2 {
    background: url(../img/team3.jpg) center;
    height: 320px;
    background-size: cover
}

.team-img-3 {
    background: url(../img/team4.jpg) center;
    height: 320px;
    background-size: cover
}

.team-img-4 {
    background: url(../img/team5.jpg) center;
    height: 320px;
    background-size: cover
}

.team-img-5 {
    background: url(../img/team6.jpg) center;
    height: 320px;
    background-size: cover
}

.team-img-6 {
    background: url(../img/team7.jpg) center;
    height: 320px;
    background-size: cover
}

.padding-10 {
    padding: 10px
}

.studies-about {
    background: url(../img/bag-parallax-img.jpg) fixed;
    padding: 100px 0;
    position: relative
}

.devider, .hover-name, .overlay-about, .pos-hover {
    position: absolute
}

.overlay-about {
    background: linear-gradient(-45deg, #fed6e3, #a8edea);
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: .9
}

.layer-about {
    z-index: 1;
    padding: 0 90px;
    text-align: center
}

.prog-more .button {
    margin: 25px 0
}

.devider {
    width: 1px;
    height: 70%;
    background: 0 0;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translatey(-50%)
}

.ind-footer {
    margin-right: 10px
}

.layer-about .button-or:hover {
    color: #f9b719
}

.hover-name {
    background: #000;
    width: 93%;
    opacity: 0;
    height: 0;
    bottom: 10px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease
}

.team-img:hover .hover-name {
    height: 85px;
    padding: 20px;
    opacity: 1;
    transition: all .4s ease;
    -webkit-transition: all .4s ease
}

.team-img:hover .pos-hover {
    opacity: 1;
    transition: all 1.2s ease;
    -webkit-transition: all 1.2s ease
}

.offset-1 {
    margin-left: 13%
}

.pos-hover {
    bottom: 30px;
    left: 0;
    opacity: 0;
    right: 0;
    transition: all .4s ease;
    -webkit-transition: all .4s ease
}

.white {
    color: #fff;
    font-weight: 600;
    line-height: 1.7
}

.team-wrapper {
    background: #f8f8f8
}

.industrypage-banner {
    background: url(../img/soporte.jpg) center fixed;
    height: 430px;
    position: relative;
    background-size: cover
}

.overlay-ind-landing {
    background: #000;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .6
}

.contact-banner h1, .industrypage-banner h1 {
    width: 600px;
    margin: auto;
    text-align: center;
    z-index: 1;
    transform: translatey(-50%)
}

.industrypage-banner h1 {
    position: relative;
    top: 58%;
    color: #fff
}

.ind-img {
    background: url(../img/sr1.jpg);
    background-size: cover;
    padding: 0
}

.ind-img1 {
    background: url(../img/sr2.jpg);
    background-size: cover;
    padding: 0
}

.ind-img2 {
    background: url(../img/sr3.jpg);
    background-size: cover;
    padding: 0
}

.ind-img3 {
    background: url(../img/sr4.jpg);
    background-size: cover;
    padding: 0
}

.ind-img4 {
    background: url(../img/sr5.jpg);
    background-size: cover;
    padding: 0
}

.ind-img5 {
    background: url(../img/sr6.jpg);
    background-size: cover;
    padding: 0
}

.white-bg {
    background: #fff;
    padding: 0;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.grey-bg {
    background: #f9f9f9;
    padding: 0;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.white-bg:hover {
    background: rgba(255, 255, 255, .7);
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.white-bg p {
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.white-bg:hover p {
    color: #000;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.industry-content {
    background: #f9f9f9;
    padding: 100px 0
}

.bg-ind-content h3 {
    color: #000;
    font-size: 32px;
    font-weight: 600
}

.bg-ind-content {
    padding: 85px 65px;
    height: 555px
}

.bg-ind-content a {
    position: absolute;
    bottom: 80px;
    font-size: 16px;
    color: #353584;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.grey-bg:hover a, .white-bg:hover a {
    color: #000;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.grey-bg:hover {
    background: rgba(255, 255, 255, .7);
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.grey-bg p {
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.grey-bg:hover p {
    color: #000;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.contact-banner {
    background: url(../img/contact.jpg) center fixed;
    height: 680px;
    position: relative;
    background-size: cover
}

.contact-banner h1 {
    position: relative;
    top: 50%;
    color: #fff
}

.contact-col h4 {
    color: #000;
    margin-bottom: 20px;
    font-weight: 600
}

.contact-con {
    padding: 65px 14px 35px 15px;
    position: absolute;
    left: 0;
    right: 0;
    top: -115px;
    background: #f9f9f9
}

.contact-con a {
    display: block;
    color: #777;
    font-size: 16px;
    margin-bottom: 30px
}

.bottom-info a, .case-head, .inner-nav p, .jou-year {
    display: inline-block
}

.fax {
    margin-top: 30px
}

#map, .map iframe {
    width: 100%;
    height: 325px
}

.map-farm {
    padding: 100px 0
}

.map-farm .modal-body .form-group {
    margin: 0 0 20px
}

.map-farm .modal-body .form-control {
    height: 55px;
    width: 460px !important
}

.caselanding-banner h1, .newslanding-banner h1 {
    width: 600px;
    top: 58%;
    z-index: 1;
    text-align: center;
    transform: translatey(-50%)
}

.map-farm .drop-angle {
    right: 45px;
    line-height: 2.35
}

.form-padding {
    padding: 0 0 75px 15px
}

.button-top-mar {
    margin-top: 30px
}

.map-farm .modal-body {
    padding: 0 15px
}

.map-farm p {
    margin: 30px 0 50px
}

.newslanding-banner {
    background: url(../img/case-baner.jpg) center fixed;
    height: 430px;
    position: relative;
    background-size: cover
}

.newslanding-banner h1 {
    position: relative;
    margin: auto;
    color: #fff
}

.newsevent-box h4 {
    color: #000;
    font-weight: 600;
    margin-top: 45px;
    line-height: 1.3;
    transition: all .4s ease;
    -webkit-transition: all .4s ease
}

.newsevent-box a, .title-left, .title-right {
    font-size: 16px;
    font-weight: 500
}

.news-content {
    background: #f9f9f9;
    padding: 100px 0
}

.newsevent-box {
    background: #fff;
    height: 440px;
    padding: 55px;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.newsevent-box:hover {
    background: #353584;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.newsevent-box:hover .title-left, .newsevent-box:hover .title-right, .newsevent-box:hover a, .newsevent-box:hover h2, .newsevent-box:hover h4 {
    color: #fff;
    transition: all .4s ease;
    -webkit-transition: all .4s ease
}

.title-right {
    color: #b0b0b0
}

.title-left {
    color: #262525;
    float: right
}

.newsevent-box a {
    color: #353584;
    position: absolute;
    bottom: 70px;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.caselanding-banner {
    background: url(../img/case-banner.jpg) center fixed;
    height: 430px;
    position: relative;
    background-size: cover
}

.bg-case, .bg-case1, .bg-case2, .bg-case3, .case-con {
    height: 310px
}

.caselanding-banner h1 {
    position: relative;
    margin: auto;
    color: #fff
}

.bg-case {
    background: url(../img/cs1.jpg);
    background-size: cover
}

.bg-case1 {
    background: url(../img/cs2.jpg);
    background-size: cover
}

.bg-case2 {
    background: url(../img/cs3.jpg);
    background-size: cover
}

.bg-case3 {
    background: url(../img/cs4.jpg);
    background-size: cover
}

.case-head {
    font-size: 24px;
    color: #000;
    font-weight: 600;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.case-head:active, .case-head:focus, .case-head:hover {
    color: #353584;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.case-button {
    margin-top: 105px
}

.caselamding-content {
    background: #f9f9f9;
    padding: 100px 0
}

.case-con {
    padding: 40px 45px;
    background: #fff
}

.top-65 {
    margin-top: 45px
}

.case-pagination {
    text-align: center;
    padding: 100px 0 0
}

.case-pagination a, .case-pagination span {
    margin-right: 12px;
    font-weight: 700;
    border-radius: 50px;
    background: 0 0;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 3;
    cursor: pointer;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.awardpage-banner h1, .faq-banner h1 {
    width: 800px;
    top: 58%;
    text-align: center;
    z-index: 1
}

.awardpage-banner, .faq-banner {
    height: 430px;
    position: relative
}

.case-pagination a, .case-pagination a:active, .case-pagination a:focus, .case-pagination a:hover {
    color: #000
}

.active-page {
    background: #353584 !important
}

.case-pagination span:active, .case-pagination span:focus, .case-pagination span:hover {
    background: #353584;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.faq-banner {
    background: url(../img/faq.jpg) center fixed;
    background-size: cover
}

.faq-banner h1 {
    position: relative;
    margin: auto;
    transform: translatey(-50%);
    color: #fff
}

.faq-wrapper {
    background: #f8f8f8;
    padding: 100px 0
}

.faq-box h4 {
    color: #353584;
    margin: 0 0 15px
}

.panel-group {
    margin-bottom: 0
}

.faq-box {
    padding: 40px 60px 25px;
    background: #fff
}

.panel-title {
    font-size: 20px;
    font-weight: 500;
    color: #262525
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    box-shadow: none
}

.panel-default > .panel-heading {
    color: transparent;
    padding: 10px 0;
    background-color: transparent;
    border: none !important
}

.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
    padding: 5px 0 0
}

.margin-acco {
    margin: 15px 0
}

.panel-group .panel + .panel {
    margin-top: 25px
}

.panel-title > a {
    line-height: 1.5;
    transition: all .6s;
    -webkit-transition: all .6s
}

.activate a, .actives.act a, .panel-title > a:hover {
    color: #353584 !important;
    transition: all .6s;
    -webkit-transition: all .6s
}

.panel-heading span {
    font-size: 30px;
    float: right;
    margin-top: -10px;
    transition: all .6s;
    -webkit-transition: all .6s;
    transform: rotate(180deg)
}

.actives.act span {
    transition: all .6s;
    -webkit-transition: all .6s;
    transform: rotate(0)
}

.margin-40 {
    margin-top: 25px
}

.awardpage-banner {
    background: url(../img/awards-baner.jpg) -95% 330% fixed;
    background-size: cover
}

.awardpage-banner h1 {
    position: relative;
    margin: auto;
    transform: translatey(-50%);
    color: #fff
}

.awardspage .content-soft {
    padding: 0
}

.adj-padd {
    padding-left: 80px !important;
    padding-right: 40px !important
}

.adj-padd1 {
    padding-left: 40px !important;
    padding-right: 80px !important
}

.awardspage .adj-padd1 {
    padding-right: 0 !important;
    padding-left: 60px !important
}

.awards-inno {
    background: url(../img/logo1.jpg) center;
    height: 214px;
    background-size: cover;
    width: 100%
}

.awards-inno1 {
    background: url(../img/logo2.jpg) center;
    height: 214px;
    width: 100%;
    background-size: cover
}

.awards-inno2 {
    background: url(../img/logo3.jpg) center;
    height: 214px;
    width: 100%;
    background-size: cover
}

.awards-inno3 {
    background: url(../img/logo4.jpg) center;
    height: 214px;
    width: 100%;
    background-size: cover
}

.awards-inno4, .awards-inno5 {
    background: url(../img/logo5.jpg) center;
    height: 214px;
    width: 100%;
    background-size: cover
}

.awards-inno6 {
    background: url(../img/logo6.jpg) center;
    height: 214px;
    width: 100%;
    background-size: cover
}

.awards-inno7 {
    background: url(../img/logo5.jpg) center;
    height: 214px;
    width: 100%;
    background-size: cover
}

.awards-head h4 {
    color: #000;
    margin-top: 0
}

.awards-top {
    padding: 100px 0 80px
}

.awards-bottom {
    padding: 80px 0 100px
}

.awards-padding {
    padding: 80px 0
}

.padd-bottom {
    padding-bottom: 100px
}

.awards-sep {
    height: 1px;
    background: #ebebeb;
    width: 100%
}

.index_4 .image_wrap .overlay {
    background: #000;
    height: 950px;
    opacity: .6;
    padding: 0;
    position: absolute;
    width: 100%
}

#parallaxBlock1 .container {
    position: relative;
    height: 100%
}

#parallaxBlock1 .cont_cell {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 560px
}

#parallaxBlock3 .container {
    position: relative;
    height: 100%
}

#parallaxBlock3 .cont_cell {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 560px
}

#parallaxBlock2 .container {
    position: relative;
    height: 100%
}

.home_5 .more .more_anchor.active a::after, .home_5 .more .more_anchor > a::after, .home_5 .more .more_anchor > a:focus::after, .home_5 .more .more_anchor > a:hover::after, .home_5 .viewall.more .more_anchor > a::after {
    background-color: #2a40d2;
    bottom: -3px;
    content: "";
    height: 1px;
    transition: all .3s ease-in-out 0s
}

#parallaxBlock2 .cont_cell {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 0;
    width: 560px;
    text-align: left
}

.home_5 .more .more_anchor.active a::after, .home_5 .more .more_anchor > a:focus::after, .home_5 .more .more_anchor > a:hover::after {
    left: .5%;
    position: absolute;
    width: 100px
}

.home_5 .more .more_anchor > a::after {
    left: .5%;
    position: absolute;
    width: 0
}

.viewall.more {
    margin: 30px 15px;
    position: relative;
    width: auto;
    text-align: right
}

.home_5 .viewall.more .more_anchor > a::after {
    left: 74%;
    position: absolute;
    width: 0
}

.home_5 .viewall.more .more_anchor.active a::after, .home_5 .viewall.more .more_anchor > a:focus::after, .home_5 .viewall.more .more_anchor > a:hover::after {
    background-color: #2a40d2;
    bottom: -3px;
    content: "";
    height: 1px;
    left: 74%;
    position: absolute;
    transition: all .3s ease-in-out 0s;
    width: 130px
}

#parallaxBlock4 .container, #parallaxBlock5 .container {
    position: relative;
    height: 100%
}

#parallaxBlock4 .cont_cell {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 0;
    width: 560px;
    text-align: left
}

.case-pose, .prod-baner h1, .prodpage-banner h1 {
    transform: translatey(-50%)
}

.index_4 #parallaxBlock1 {
    background: url(../img/Journey1.jpg) fixed;
    background-size: cover;
    height: 950px
}

.index_4 #parallaxBlock2 {
    background: url(../img/Journey2.jpg) fixed;
    background-size: cover;
    height: 950px
}

.index_4 #parallaxBlock3 {
    background: url(../img/Journey3.jpg) fixed;
    background-size: cover;
    height: 950px
}

.index_4 #parallaxBlock4 {
    background: url(../img/Journey4.jpg) fixed;
    background-size: cover;
    height: 950px
}

.index_4 h2 {
    color: #fff;
    margin: 0 0 20px
}

.index_4 p {
    color: #fff
}

.jou-year {
    font-size: 24px;
    color: #f9b719;
    margin-bottom: 10px;
    font-weight: 500
}

.width-400 {
    width: 400px
}

.padding-110 {
    padding: 0 110px
}

.padding-110-both {
    padding: 75px 110px
}

.prod-baner {
    height: 450px;
    background: url(../img/product-bg.jpg) 0 830% fixed;
    background-size: cover;
    position: relative
}

.prod-overlay {
    position: absolute;
    top: 0;
    background: #000;
    opacity: .7;
    width: 100%;
    height: 450px
}

.prod-baner h1 {
    position: absolute;
    top: 60%;
    z-index: 1;
    margin: auto;
    left: 0;
    right: 0;
    width: 250px;
    text-align: center
}

.prod-first {
    text-align: center;
    padding: 100px 50px;
    background: #f5f5f5
}

.ul-font {
    font-size: 16px;
    line-height: 1.6;
    color: #606060;
    padding: 10px 0 0 15px
}

.ul-font li {
    margin-bottom: 15px;
    padding: 0 20px;
    color: #353584
}

.prod-second h1 {
    margin-bottom: 30px;
    color: #000
}

.padd-100 {
    padding: 75px 0
}

.padding-product {
    padding: 5px 0 0
}

.padding-product-one {
    padding-top: 70px;
    padding-left: 30px !important
}

.padding-product-two {
    padding-top: 0;
    padding-right: 40px
}

.padding-product-three {
    padding-top: 125px;
    padding-left: 40px !important
}

.padd-both-three {
    padding: 65px 0
}

.padding-product-four {
    padding-top: 180px;
    padding-right: 40px
}

.padd-both-four {
    padding: 55px 0
}

.padding-product-five {
    padding-top: 190px;
    padding-left: 75px !important
}

.padding-product-left {
    padding-left: 0
}

.padd-both-five {
    padding: 60px 0
}

.padding-product-village {
    padding: 50px 0
}

#block-answer {
    margin-top: 20px;
    text-align: center
}

#block-answer p {
    font-size: 14px;
    color: red
}

.prodpage-banner {
    background: url(../img/product-banner.jpg) center fixed;
    height: 680px;
    position: relative;
    background-size: cover
}

.prodpage-banner h1 {
    position: relative;
    width: 600px;
    margin: auto;
    top: 50%;
    text-align: center;
    color: #fff;
    z-index: 1
}

.width-adj {
    width: 100%
}

.breadcrumb {
    position: absolute;
    top: 52%;
    background: 0 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    text-align: center;
    font-size: 15px
}

.approach-width, .case-approach, .case-approach1, .case-pose, .casefinal-banner, .float-rel {
    position: relative
}

.breadcrumb a {
    color: #9a9a9a
}

.breadcrumb > li + li::before {
    padding: 0 5px;
    color: #9a9a9a;
    content: "/\00a0"
}

.breadcrumb > .active {
    color: #262525
}

.off-white {
    background: #f9f9f9
}

.padd-both {
    padding: 80px 0 65px
}

.padd-both-sec {
    padding: 60px 0
}

.casefinal-banner {
    background: url(../img/casefinal.jpg) fixed;
    height: 940px;
    background-size: cover;
    overflow: hidden
}

.casefinal-banner1 {
    background: url(../img/case-banner1.jpg)
}

.casefinal-banner-next {
    background: url(../img/1.jpg) fixed;
    height: 940px;
    position: relative;
    overflow: hidden
}

.casefinal-banner h2, .casefinal-banner-next h2 {
    text-align: center;
    color: #fff !important
}

.casefinal-banner p, .casefinal-banner-next p {
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding: 0 130px
}

.case-pose {
    top: 50%;
    padding: 0 75px;
    z-index: 1
}

.case-benefits {
    padding: 95px 0 80px
}

.bene-width li, .bene-width ul {
    padding: 0 15px
}

.bene-width {
    width: 640px
}

.bene-width li {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #353584
}

.approach-width {
    width: 640px;
    z-index: 1
}

.approach-width h2, .approach-width p {
    color: #fff
}

.case-approach {
    padding: 95px 0 85px;
    background: url(../img/approach.jpg) fixed
}

.case-approach1 {
    background: url(../img/approach1.jpg) fixed
}

.overlay-app {
    position: absolute;
    top: 0;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: .7
}

.case-challenge {
    background: #f7f7f7;
    padding: 95px 0 75px
}

.case-challenge ul {
    margin-top: 35px
}

.case-intro {
    padding: 95px 0 80px
}

.float-navigation {
    width: 370px;
    height: 230px;
    position: relative;
    float: right;
    right: 18%;
    z-index: 10
}

.bottom-info, .cont-info {
    position: absolute;
    padding: 0
}

.inner-nav {
    background: #fbfbfb;
    border-bottom: 1px solid #e1e1e1;
    padding: 20px 30px
}

.border-top {
    border-top: 14px solid #353584
}

.border-bottom {
    border-bottom: 6px solid #e1e1e1
}

.inner-nav i {
    font-size: 22px;
    color: #d7d7d7;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.inner-nav p {
    margin-left: 30px;
    margin-bottom: 0;
    color: #000;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.active p, .casefinalpage .active i, .inner-nav:hover i, .inner-nav:hover p {
    color: #353584;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.bottom-info {
    z-index: 1
}

.bottom-info p {
    padding: 0;
    text-align: left
}

.cont-info {
    width: 1170px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 200px
}

.bottom-info h3 {
    color: #fff;
    font-size: 24px
}

.bottom-info a {
    color: #353584;
    margin-top: 15px;
    font-weight: 600;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.bottom-info a:hover {
    color: #fff;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.casefinal-nav .ind-next a:hover, .casefinal-nav .ind-prev a:hover {
    color: #353584;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.casefinal-nav {
    position: relative;
    z-index: 1;
    top: 32%
}

.casefinal-nav .ind-next, .casefinal-nav .ind-prev {
    top: 45%
}

.indpage-banner {
    background: url(../img/industry-banner.jpg) center fixed;
    height: 680px;
    position: relative;
    background-size: cover
}

.indpage-banner-ser {
    background: url(../img/ser-banner.jpg) center fixed;
    height: 680px;
    position: relative;
    background-size: cover
}

.indpage-banner-next {
    background: url(../img/2.jpg) fixed;
    height: 680px;
    position: relative
}

.indpage-banner h1, .indpage-banner-next h1 {
    position: relative;
    width: 600px;
    margin: auto;
    top: 50%;
    transform: translatey(-50%);
    text-align: center;
    color: #fff;
    z-index: 1
}

.ind-next, .ind-prev {
    position: fixed;
    top: 40%;
    z-index: 2;
    border-radius: 50px
}

.inddetailpage .soft-sol {
    padding: 100px 0;
    overflow: hidden
}

.inddetailpage .soft-zero {
    padding-top: 0
}

.ind-bg {
    background: url(../img/services2.jpg);
    height: 610px;
    background-size: cover
}

.ind-bg-ser {
    background: url(../img/ser1.jpg)
}

.ind-bg-1 {
    background: url(../img/services1.jpg);
    height: 610px;
    background-size: cover
}

.ind-bg-ser1 {
    background: url(../img/ser2.jpg)
}

.content-ind {
    padding: 20px 80px 0 15px
}

.content-ind-1 {
    padding: 50px 15px 0 65px
}

.content-ind-1 li {
    font-size: 16px;
    line-height: 1.9;
    margin-left: 20px;
    padding-left: 20px;
    color: #353584
}

li span {
    color: #333
}

.ind-farm-text h3 {
    margin: 0;
    line-height: 1.3;
    color: #002056
}

.ind-farm-text {
    background: #f9f9f9;
    padding: 110px;
    text-align: center
}

.inddetailpage .layer-about .button-or {
    margin: 10px
}

.ind-prev {
    width: 0;
    left: -45px;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.ind-prev:hover {
    background: #fff;
    width: 185px;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.ind-next {
    width: 0;
    right: -45px;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.ind-next a, .ind-prev a {
    font-size: 42px;
    color: #353584;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    display: inline-block
}

.ind-next:hover {
    background: #fff;
    width: 185px;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.ind-prev a {
    left: 25px;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.ind-next a {
    right: 120px;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.ind-prev:hover a {
    color: #fff;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.ind-next:hover a {
    color: #fff;
    right: -65px;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.ind-next span, .ind-prev span {
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    opacity: 0;
    top: 20px;
    width: 85px;
    color: #000
}

.ind-prev span {
    left: 70px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease
}

.ind-next span {
    right: 50px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease
}

.blog-banner h1, .partnership-banner h1 {
    width: 600px;
    top: 50%;
    transform: translatey(-50%);
    color: #fff;
    z-index: 1;
    text-align: center;
    position: relative
}

.ind-next:hover span, .ind-prev:hover span {
    opacity: 1;
    transition: all 1s ease;
    -webkit-transition: all 1s ease
}

.blog-banner {
    background: url(../img/case-baner.jpg) center fixed;
    height: 430px;
    position: relative;
    background-size: cover
}

.bg-blog, .bg-blog1, .bg-blog2, .bg-blog3 {
    height: 300px
}

.blog-banner h1 {
    margin: auto
}

.bg-blog {
    background: url(../img/ind-hover2.jpg);
    background-size: cover
}

.bg-blog1 {
    background: url(../img/ind-hover.jpg);
    background-size: cover
}

.bg-blog2 {
    background: url(../img/ind-hover1.jpg);
    background-size: cover
}

.bg-blog3 {
    background: url(../img/ind-hover3.jpg);
    background-size: cover
}

.blog-con {
    background: #fff;
    padding: 40px 45px
}

.blog-con .highlights_txt {
    padding: 8px 0 17px
}

.blog-con .case-head {
    margin-bottom: 15px
}

.partnership-banner {
    background: url(../img/partnershipprog.jpg) fixed;
    height: 680px;
    position: relative;
    background-size: cover
}

.partnership-banner h1 {
    margin: auto
}

.content-soft li, .content-soft-0 li, .content-soft-1 li, .content-soft-2 li, .content-soft-3 li {
    font-size: 16px;
    line-height: 1.9;
    margin-left: 20px;
    padding-left: 20px;
    color: #353584
}

.serv_proj3, .serv_soc, .serv_year {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize
}

.prog-bg {
    background: url(../img/abt2.jpg);
    height: 690px;
    background-size: cover
}

.prog-bg-1 {
    background: url(../img/abt1.jpg);
    height: 690px;
    background-size: cover
}

.prog-bg-2 {
    background: url(../img/abt2.jpg);
    height: 690px;
    background-size: cover
}

.prog-bg-3 {
    background: url(../img/abt1.jpg);
    height: 690px;
    background-size: cover
}

.serv_proj3 {
    margin-right: 30px
}

.serv_year {
    margin-right: 60px;
    float: left
}

.serv_soc {
    margin-right: 50px;
    float: left
}

.serve-bottom {
    margin-bottom: 10px
}

.serv_social {
    display: inline-block
}

.serv_social li {
    float: left;
    margin-right: 15px;
    list-style: none
}

.serv_top {
    padding-top: 160px
}

.year_padding {
    padding-bottom: 30px
}

.row.serve_share {
    border-top: 1px solid #E7EDF7;
    padding-top: 30px
}

.serv_social li a {
    color: #262a2b;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.serv_social li a:hover {
    color: #353584;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.serv1_proj3 {
    color: #878b92
}

.project-padding {
    padding: 80px 20px 70px 0
}

.full_width_image {
    margin: 30px 0
}

.project-detail .button--border-medium {
    border: 2px solid #353584;
    color: #353584;
    margin: 30px 25px 100px 20px
}

.project-detail .button--border-medium:hover {
    border: 2px solid #88c469;
    color: #88c469
}

.main-portfolio {
    float: right;
    margin: 48px 30px 0 0;
    color: #353584;
    font-size: 16px;
    font-weight: 500;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.heading_project6 > h4, .project_6 h1 {
    font-weight: 600
}

.main-portfolio:hover {
    color: #88c469;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.project_6 {
    padding: 30px;
    text-align: center
}

.project_6 h1 {
    font-size: 50px;
    margin: 0 0 20px;
    text-transform: uppercase
}

.full_project6 {
    min-height: 30px;
    overflow: hidden
}

.background_project6 {
    background: #353584;
    padding: 70px
}

.col-md-4.image_paddi {
    padding: 70px
}

.image_paddi img, .project6_man img {
    width: 100%
}

.heading_project6 {
    color: #fff;
    margin: 30px 0;
    text-align: center;
    font-weight: 600
}

#sidebar h5, .sidebar-about {
    font-weight: 500;
    text-align: center
}

.back-Proj6 {
    background: url(../img/project6_back.jpg) 0 0/cover no-repeat fixed rgba(0, 0, 0, 0);
    height: 750px
}

.project6_man {
    margin: auto;
    width: 625px
}

.man_padding {
    padding: 100px 0 0
}

.home_8 .highlights_txt {
    padding: 10px 15px
}

.blog-content_detailed_1 {
    background: url(../img/Image_Main.jpg);
    background-size: cover
}

.blog-size {
    height: 350px
}

.circle-sidebar {
    background: url(../img/Profile_Image.jpg);
    border-radius: 100px;
    height: 130px;
    margin: auto;
    width: 130px
}

.sidebar-about {
    border-bottom: 1px solid;
    font-size: 16px;
    padding: 10px 0 25px;
    margin-bottom: 30px
}

.text-align-sidebar {
    text-align: center;
    margin: 20px 0
}

.font-margin-side.social-left-margin {
    margin-right: 65px
}

.social-side li {
    float: left;
    font-size: 35px;
    list-style: none
}

.social-side a {
    color: #353584;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.social-side a:hover {
    color: #88c469;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.rated_products_block {
    display: inline-block;
    width: 100%;
    margin-top: 75px
}

.bottom-border-like {
    padding-top: 95px;
    padding-bottom: 10px
}

#sidebar h5 {
    margin-bottom: 10px;
    color: #000;
    padding: 0 0 30px;
    position: relative
}

#sidebar h5::after {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 1px;
    content: ''
}

.top-products {
    font-size: 16px !important;
    font-weight: 500 !important
}

.latest-right h6 {
    color: #000;
    font-size: 18px
}

.rated_products_block ul li, .tag-list > li {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em
}

.latest-right h4 {
    margin: 0
}

.heading-blog h5 {
    color: #333;
    transition: all .3s ease-in-out 0s
}

.top-tag {
    margin-top: 70px
}

.tag-list {
    margin-top: 30px;
    padding: 0
}

.tag-list > li {
    float: left;
    list-style: none;
    margin: 10px 22px 0 0
}

.li-margin-tag a, .tag-list a {
    color: #000;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.li-margin-tag a:hover, .tag-list a:hover {
    color: #353584;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.rated_products_block ul {
    display: inline-block;
    width: 100%;
    padding: 30px 0 0
}

.rated_products_block ul li {
    padding: 0 0 15px;
    width: 100%;
    display: inline-block;
    overflow: hidden
}

.blog-heading {
    font-weight: 500;
    margin: 35px 0 15px
}

blockquote {
    border-left: 2px solid;
    font-size: 16px;
    padding: 5px 0 5px 25px;
    margin: 25px 0
}

.blog_detail_main .post_share-tags {
    padding-bottom: 30px;
    border-bottom: solid 1px #000;
    overflow: hidden;
    clear: both
}

.blog_detail_main .post_share-tags .social_links {
    float: right;
    margin-top: 15px;
    text-align: right
}

.blog_detail_main .post_share-tags .tags {
    float: left;
    max-width: 50%;
    margin-top: 15px
}

.blog_detail_main .post_share-tags .tags h5, .social_links h5 {
    color: #000
}

.blog_detail_main .post_share-tags .tags li {
    display: block;
    float: left;
    margin-right: 17px;
    line-height: 16px
}

.social_links li {
    float: left;
    list-style: none
}

.social_links a {
    color: #000;
    font-size: 20px;
    margin-left: 40px;
    transition: all .3s ease-in-out 0s
}

.blog_detail_main .post_share-tags .tags li a {
    color: #000;
    display: block;
    float: left;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    transition: all .3s ease-in-out 0s
}

.pagination-div {
    padding-top: 30px
}

.blog_detail_main .comments_main {
    position: relative;
    width: 100%;
    margin-top: 52px;
    padding-bottom: 35px;
    clear: both
}

.blog_detail_main .comments_main h6 {
    color: #000;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: capitalize
}

.comment-p a, .pagination-div a {
    font-size: 16px;
    font-weight: 500
}

.blog_detail_main .comments_main .comment_box .user-avtaar {
    float: left
}

.blog_detail_main .comments_main .comment_box .user_info {
    padding-left: 22px;
    overflow: hidden
}

.comment-p {
    padding-left: 86px
}

.blog_detail_main .comments_main .comment_box {
    border-bottom: 1px solid;
    clear: both;
    overflow: hidden;
    padding-bottom: 30px
}

.blog_detail_main .comments_main .comment_box.inner_comment {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px
}

.comment_box.last-comment {
    border-bottom: medium none !important;
    padding-top: 30px
}

.blog-comment {
    padding: 0;
    width: 100%
}

.blog-comment .form-group {
    margin: 0 20px 20px 0
}

.blog-comment .form-control {
    height: 50px;
    border-radius: 0;
    padding: 0 30px;
    background: #e6e6e6;
    opacity: .65;
    border: none;
    width: 100% !important
}

.blog-comment .textarea {
    height: 150px
}

.blogdetails h3 {
    color: #000
}

.comment-p a {
    color: #353584;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.comment-p a:hover {
    color: #88c469;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.pagination-div a {
    color: #353584;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.pagination-div a:hover {
    color: #88c469;
    transition: all .6s ease;
    -webkit-transition: all .6s ease
}

.pagination-div a:last-child {
    float: right
}

.blog_detail_main {
    padding-right: 30px
}

#instafeed {
    width: 100%
}

#instafeed a {
    display: block;
    float: left;
    position: relative;
    width: 30.56%;
    margin: 5px
}

#instafeed a img {
    display: block;
    width: 100%;
    height: 100%
}

@media only screen and (max-width: 1680px) {
    .product-text-wrap {
        padding: 80px
    }

    .blog-bg {
        padding: 90px 30px
    }

    .width-480 {
        width: 500px
    }

    .text-wrap {
        padding: 40px
    }

    .text-wrap .button-or {
        right: 30px
    }

    .content-soft {
        padding: 85px 100px
    }
}

@media only screen and (max-width: 1550px) {
    .pad-bottom {
        padding-bottom: 85px
    }

    #home h1 {
        font-size: 28px
    }

    h3 {
        font-size: 16px
    }

    .product-text-wrap {
        padding: 80px 50px
    }

    .content-soft {
        padding: 85px 70px
    }

    .aboutpage .content-soft {
        padding: 145px 110px 170px 50px
    }

    .aboutpage .content-soft-right {
        padding: 145px 110px 170px 70px
    }
}

@media only screen and (max-width: 1366px) {
    .pre-loader-anim {
        left: -3%
    }

    .product-text-wrap {
        padding: 80px 45px
    }

    .blog-box {
        padding: 20px
    }

    .pad-bottom {
        padding-bottom: 65px
    }

    #home h1 {
        font-size: 26px
    }

    h3 {
        font-size: 16px
    }

    .carousel-inner h3 {
        width: 1000px;
        line-height: 1.5
    }

    #products-section .owl-prev {
        left: 12px;
        font-size: 26px
    }

    #products-section .owl-next {
        right: 12px;
        font-size: 26px
    }

    .industry-img img {
        width: 100%
    }

    .farm-product .button-or {
        left: 12%
    }

    .content-soft {
        padding: 70px
    }

    .hover-name {
        width: 94%
    }

    .aboutpage .content-soft {
        padding: 135px 70px 135px 50px
    }

    .aboutpage .content-soft-right {
        padding: 120px 110px 140px 70px
    }

    #portfolio-wrap {
        margin: auto
    }

    .prot-withname .work-section .grid-item a span {
        top: 80% !important
    }

    .prot-withname .item-content {
        height: 75%
    }

    .prot-withname .work-section .col-md-4 .grid-item div::before, .prot-withname .work-section .col-md-6 .grid-item div::before, .prot-withname .work-section .grid-item a::before {
        height: 76.6%
    }

    .full_project6 {
        min-height: 30px
    }

    .ind-next, .ind-prev {
        top: 50%
    }
}

@media only screen and (max-width: 1280px) {
    #home h1 {
        font-size: 24px
    }

    .farm-product .button-or {
        top: 82%
    }

    .width-480 {
        width: 460px
    }

    .aboutpage .content-soft {
        padding: 145px 70px 145px 0
    }

    .aboutpage .content-soft-right {
        padding: 155px 15px 155px 70px
    }

    .float-navigation {
        right: 13%
    }

    .casefinal-banner-next {
        height: 750px
    }
}

@media only screen and (max-width: 1024px) {
    h2 {
        font-size: 32px
    }

    .navbar-brand img {
        max-width: 130px
    }

    .navbar-nav > li > a {
        font-size: 12px
    }

    .menu-padd {
        padding: 0 20px
    }

    .carousel-inner h1 {
        width: 600px
    }

    .carousel-inner h3 {
        width: 600px;
        line-height: 1.5
    }

    .product-text-wrap {
        padding: 80px 90px
    }

    .date {
        font-size: 26px;
        top: 220px
    }

    .blog-bg {
        padding: 75px 15px
    }

    .form-control {
        height: 60px;
        width: 300px !important
    }

    .go-button .form-butn {
        width: 60px;
        height: 60px
    }

    .image-wrapeer img {
        width: 80%
    }

    .text-wrapeer {
        padding: 10px 40px;
        float: none
    }

    .newslatter {
        padding: 100px 30px
    }

    .content-soft {
        padding: 55px 20px
    }

    .carousel-control.left, .carousel-control.right {
        height: 265px
    }

    .blog-buttn {
        padding-top: 5px
    }

    .farm-product .button-or {
        top: 75%;
        left: 19%
    }

    .industry-text {
        padding-top: 20px
    }

    .go-button .form-butn {
        top: -60px
    }

    .about-digital {
        height: 235px
    }

    .aboutpage .content-soft {
        padding: 115px 70px 115px 0
    }

    .aboutpage .content-soft-right {
        padding: 135px 15px 135px 70px
    }

    .font-margin-side {
        font-size: 25px
    }

    .font-margin-side.social-left-margin {
        margin-right: 18px
    }

    .social_links a {
        color: #000;
        font-size: 20px;
        margin-left: 20px
    }

    .float-navigation {
        right: 6%
    }

    .bene-width {
        width: 380px
    }

    .approach-width {
        width: 340px
    }

    .map-farm .modal-body .form-control {
        width: 385px !important
    }

    .prot-withname .work-section .grid-item a span {
        top: 78% !important
    }

    .work-section .grid-item a span b {
        font-size: 12px
    }

    .prod-img img {
        width: 100%
    }

    .full_project6 {
        min-height: 30px
    }

    .project_6 {
        padding: 60px
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 42px
    }

    .menu-padd {
        padding: 0 25px
    }

    .carousel-inner h1 {
        width: 100%
    }

    .newslatter {
        padding: 50px 30px
    }

    .go-button .form-butn {
        top: -60px;
        right: 90px
    }

    .social-icons {
        margin-top: 45px
    }

    .mob-xs {
        margin-top: 45px !important
    }

    .part-box {
        background: #fff;
        padding: 30px 25px
    }

    #video-section-overlaye {
        margin: 135px 0 0
    }

    .farm-industry {
        padding: 60px 0
    }

    .about-padd {
        padding: 43px 0 75px
    }

    .feature-section {
        padding: 75px 0
    }

    .work-section {
        padding-top: 75px
    }

    .client-sp, .team-sec {
        padding: 75px 0
    }

    .device-xs {
        display: block
    }

    .device-lg {
        display: none
    }

    .device-xs.get-intch.button-or {
        position: absolute;
        top: 40px;
        right: 60px
    }

    .device-xs.get-intch.button-or button {
        margin: 0;
        top: 0
    }

    .language_bar {
        right: 75px
    }

    .navbar-toggle {
        margin: 25px 0
    }

    .close {
        padding: 16px !important
    }

    .modal-dialog {
        top: 65%;
        width: 465px;
        left: 20%
    }

    .modal-body {
        position: relative;
        padding: 15px
    }

    .nav.navbar-nav.navbar-right {
        height: 315px
    }

    .soft-bg, .soft-bg-1 {
        height: 420px
    }

    .navbar-nav > li {
        margin-left: 0
    }

    .navbar-nav > li > a {
        padding: 5px 0 15px
    }

    .aboutpage .content-soft {
        padding: 80px 70px 155px 35px
    }

    .aboutpage .content-soft-right {
        padding: 86px 15px 135px 35px
    }

    .soft-bg-1 {
        margin-top: 45px
    }

    .awardspage .adj-padd1 {
        padding-top: 50px
    }

    .awards-top {
        padding: 80px 0 60px
    }

    .social-side {
        text-align: center !important;
        float: none;
        width: 200px;
        margin: auto
    }

    .float-navigation {
        width: 270px
    }

    .button--size-s {
        font-size: 10px
    }

    .layer-about {
        padding: 0 5px
    }

    .faq-banner h1 {
        width: 300px
    }

    #parallaxBlock1, #parallaxBlock2, #parallaxBlock3, #parallaxBlock4, .index_4 .image_wrap .overlay {
        height: 610px !important
    }

    .work-section .grid-item a span b {
        font-size: 13px
    }

    .prot-withname .item-content {
        height: 75%
    }

    .prot-withname .work-section .col-md-4 .grid-item div::before, .prot-withname .work-section .col-md-6 .grid-item div::before, .prot-withname .work-section .grid-item a::before {
        height: 76.6%
    }

    .prot-withname .work-section .grid-item a span {
        top: 80% !important
    }

    .serv_top {
        padding-top: 0
    }

    .full_project6 {
        height: 255px
    }

    .ind-farm-text {
        padding: 60px
    }

    .inddetailpage .soft-sol {
        padding: 60px 0
    }
}

@media only screen and (max-width: 736px) {
    .product-text-wrap h2, h2 {
        font-size: 28px
    }

    .product-text-wrap {
        padding: 55px 45px
    }

    h4 {
        font-size: 20px
    }

    #clients-2 {
        padding: 35px 15px
    }

    .client-band {
        height: 210px
    }

    .go-button .form-butn {
        right: 70px
    }

    .navbar-nav > li > a {
        padding: 5px 0 50px
    }

    .text-wrap {
        top: 56%
    }

    .button--size-s {
        font-size: 10px
    }

    .layer-about {
        padding: 0 50px
    }

    .awardpage-banner h1 {
        width: 440px
    }
}

@media only screen and (max-width: 667px) {
    h5 {
        font-size: 13px
    }

    .work-section .portfolio-categories li {
        margin: 0 12px;
        font-size: 12px
    }

    .footer-bg {
        padding: 60px 0
    }

    .footer .col-xs-6 {
        width: 50%;
        float: none
    }

    .team-sec p {
        width: 300px
    }

    .team-name h5 {
        font-size: 13px
    }

    .team-name span {
        font-size: 12px;
        letter-spacing: 1px
    }

    .quote {
        width: 10%
    }

    .content-padding {
        padding: 0 20px 50px
    }

    .modal-dialog {
        top: 65%;
        left: 12%
    }

    .layer-about {
        padding: 0
    }

    .industrypage-banner h1 {
        position: relative;
        width: 300px
    }

    .padding-feature {
        width: 340px
    }

    .go-button .form-butn {
        right: -5px
    }

    .float-navigation {
        display: none
    }
}

@media only screen and (max-width: 600px) {
    .modal-dialog {
        top: 65%;
        left: 3%
    }

    .casefinal-banner p, .casefinal-banner-next p {
        padding: 0 35px
    }

    .panel-title {
        font-size: 17px
    }

    .indpage-banner h1, .indpage-banner-next h1, .prodpage-banner h1 {
        width: 300px
    }
}

@media only screen and (max-width: 568px) {
    .go-button .form-butn {
        right: -22px
    }

    .full_project6 {
        height: 190px
    }
}

@media only screen and (max-width: 414px) {
    .go-button .form-butn {
        right: -115px
    }

    .pre-loader-anim {
        left: -25%
    }

    .modal-dialog {
        width: 370px;
        top: 75%
    }

    .modal-body .form-group {
        margin: 15px
    }

    .modal-body .form-control {
        width: 338px !important
    }

    .testimonail1 .col-xs-4, .text-wrap {
        width: 100%
    }

    .news-n h2 {
        line-height: 1.4;
        margin-bottom: 20px
    }

    .button--size-s {
        font-size: 10px
    }

    .carousel-control.right {
        right: 40px
    }

    .carousel-control.left {
        left: 50px
    }

    .top-feature .col-xs-4 {
        width: 100%;
        margin-bottom: 30px
    }

    .aboutpage-banner h1 {
        width: 310px
    }

    .aboutpage .content-soft {
        padding: 120px 70px 155px 35px
    }

    .awardpage-banner h1 {
        width: 320px
    }

    .awardspage .adj-padd1 {
        padding-left: 15px !important
    }

    .blog_detail_main {
        padding-right: 0
    }

    .industrypage-banner h1 {
        position: relative;
        width: 320px
    }

    .blog_detail_main .post_share-tags .tags li {
        margin-right: 9px;
        line-height: 16px
    }

    .blog-banner h1 {
        position: relative;
        width: 300px
    }

    .caselanding-banner h1, .newslanding-banner h1 {
        width: 300px
    }

    .case-head {
        font-size: 20px
    }

    .case-pose {
        padding: 0 20px
    }

    .layer-about {
        width: 100%;
        margin-bottom: 30px
    }

    .devider {
        display: none
    }

    .contact-banner h1 {
        position: relative;
        width: 300px
    }

    .contact-con .col-xs-4 {
        width: 100%;
        padding: 0
    }

    .faq-wrapper, .project_6 {
        padding: 60px 0
    }

    .contact .digi-class {
        height: 665px
    }

    .prot-withname .portfolio-wrap .grid-item:first-child {
        opacity: 1 !important;
        margin: 0 !important
    }

    .project-detail .button--border-medium {
        margin: 20px 10px 0 0
    }

    .full_project6 {
        height: 160px
    }

    .background_project6 {
        padding: 0
    }

    .back-Proj6 {
        background-position: center;
        height: 618px
    }

    .project6_man {
        margin: auto;
        width: 330px
    }

    .button-center {
        width: 140px
    }

    .studies-about {
        padding: 60px 0
    }

    .industry-content .col-xs-6 {
        width: 100%
    }
}

@media only screen and (max-width: 384px) {
    .devider, .testimonial-left, .testimonial-right {
        display: none
    }

    .modal-dialog {
        width: 335px;
        top: 75%
    }

    .modal-body .form-control {
        width: 300px !important
    }

    .quote {
        width: 18%
    }

    .go-button .form-butn {
        right: -130px
    }

    .facebook, .insta, .twitter {
        margin-right: 5px
    }

    .layer-about {
        padding: 0;
        width: 100%;
        margin-bottom: 20px
    }

    .bene-width {
        width: 270px
    }

    .map-farm .modal-body .form-control {
        width: 300px !important
    }

    .map-farm .drop-angle {
        right: 100px
    }
}

@media only screen and (max-width: 375px) {
    .button {
        min-width: 130px
    }

    .facebook, .insta, .twitter, .youtube {
        width: 30px;
        height: 30px;
        padding: 3px
    }

    .case-head {
        font-size: 21px
    }

    .case-button {
        margin-top: 35px
    }
}

@media only screen and (max-width: 320px) {
    .navbar-brand img {
        max-width: 90px;
        margin-top: 10px
    }

    .padding-feature {
        width: 280px
    }

    .form-control {
        height: 60px;
        width: 250px !important
    }

    .modal-dialog {
        width: 285px;
        top: 75%
    }

    .modal-body .form-control {
        width: 255px !important
    }

    .pre-loader-anim {
        left: -45%
    }

    .newslatter {
        padding: 50px 0
    }

    .go-button .form-butn {
        right: -90px
    }

    .aboutpage .content-soft {
        padding: 185px 70px 155px 35px
    }

    .approach-width {
        width: 260px
    }
}
